.computer-background {
  /* Adjust dimensions and position as needed */
margin: auto;
background-image: url('./images/computer/computer-screen.png');
background-size: contain; /* Or contain, as needed */
background-repeat: no-repeat;
width: 70vw; 
height: 100vh;
/* height: 70%; */
display: flex;
flex-direction: column; /* Or use Grid */


}
.disk-drive {
margin: 100px auto;
width: 70%; 
display: flex;
flex-direction: column; 
}

.monitor-area {
/* Adjust dimensions and position as needed */
margin:8vw; 
width: 90%;
height: 90%;
}
